<div class="big-block autor">
	<div class="block">
		<div class="autor-img">
			<img src="i.jpg" alt="">
		</div>
		<div class="autor-content">
			<h2>Gleb Orlovsky</h2>
			<hr class="style-hr">
			<p>Front End / Javascript Developer</p><br>
			<a href="https://t.me/gleb_orl"><i class="fa fa-telegram" aria-hidden="true"></i> Telegram</a><br>
			<a href="https://www.linkedin.com/in/%D0%B3%D0%BB%D0%B5%D0%B1-%D0%BE%D1%80%D0%BB%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9-4231b4148/"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a><br>
			<a href="https://github.com/SomeSomeone"><i class="fa fa-github" aria-hidden="true"></i> Git</a><br>
			<a href="mailto:nice.gl_orl@ukr.net"><i class="fa fa-envelope-o" aria-hidden="true"></i> nice.gl_orl@ukr.net</a>
		</div>
	</div>
</div>			 
		
					
					