<div class="big-block main-block">
	<div class="block">
		<h2>Main Page</h2>
		<hr class="style-hr">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas convallis, felis pulvinar consectetur tempus, quam metus feugiat sem, vel rhoncus ipsum tellus vel sem. Proin rhoncus nulla vel urna gravida dapibus. Sed feugiat, dui id maximus vulputate, ligula libero commodo enim, eu tempus mauris nulla tristique eros.
		</p>
		<p>
			Nulla facilisis metus justo, ut vulputate libero ornare at. Nullam fringilla leo non quam interdum, convallis scelerisque leo gravida. Duis fringilla viverra erat ac gravida. Sed sit amet augue hendrerit, eleifend magna in, convallis enim. Fusce tincidunt finibus lectus ac feugiat. In auctor enim nec nisi mattis lacinia. Donec rhoncus leo malesuada diam mollis, vitae molestie urna mollis.
		</p>
	</div>
</div>